@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Irish+Grover&display=swap');


body{
  margin: 0px;
  padding: 0px;
  font-family:'Instrument Sans';
}